<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div class="login-container">
    <img class="logo" src="./assets/img/logo-stxt.svg" />

    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
        <ion-label floating>Correo</ion-label>
        <ion-input tappable color="text-primary-color" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!loginForm.controls.email.valid  &&
                loginForm.controls.email.dirty">*Ingrese un correo valido.</p>
        <p *ngIf="!loginForm.controls.password.valid  &&
                loginForm.controls.password.dirty">*Su contraseña debe tener 4 caracteres minimo.</p>
      </ion-item>

      <div class="submit-box">
        <button ion-button block type="submit" color="accent-color">Ingresar</button>
      </div>
    </form>
  </div>

</ion-content>
