<ion-header>

  <ion-navbar color="default-primary-color">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Incidencias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let incidencia of _is.incidencias">

      <ion-item>
        <p><strong>Folio: </strong><small>{{ incidencia.id }}</small></p>
        <p><strong>Paciente: </strong><small>{{ incidencia.pacientes[0].personas.nombre }} {{ incidencia.pacientes[0].personas.paterno }} {{ incidencia.pacientes[0].personas.materno }}</small></p>
        <p>{{ incidencia.motivo_ingreso }}</p>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="default-primary-color" (click)="presentModal( contrarefencia )">
          <ion-icon name="camera"></ion-icon>
          Contrarefencia
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="accent-color" (click)="presentModal( referencia )">
          <ion-icon name="camera"></ion-icon>
          Referencia
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
