<ion-header>
  <ion-navbar color="default-primary-color">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      UGUS - {{ _us.usuario.nombre }}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
