<ion-header>

  <ion-navbar color="accent-color">
    <ion-buttons left>
      <button ion-button (click)="cerrarModal()">
        Cerrar
      </button>
    </ion-buttons>
    <ion-title text-center>Foto referencia</ion-title>
    <ion-buttons end>
      <button ion-button (click)="enviarFoto()">
      Enviar
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item *ngIf="imgPreview">
      <img [src]="imgPreview">
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button color="default-primary-color" ion-button block icon-left (click)="seleccionarFotos()">
            <ion-icon name="photos"></ion-icon>
            Seleccionar
          </button>
      </ion-col>
      <ion-col>
        <button  color="default-primary-color" ion-button block icon-left (click)="mostrarCamara()">
            <ion-icon name="camera"></ion-icon>
            Camara
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
