<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="default-primary-color">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="abrirPagina( home )">
        Inicio
      </button>
      <button ion-item (click)="abrirPagina( incidencias )">
        Incidencias
      </button>
      <button ion-item (click)="abrirPagina(incidenciasD)">
        Events
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
