
<ion-header>

  <ion-navbar color="default-primary-color">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Incidencia Detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab right bottom>
    <button ion-fab color="accent-color" (click)="presentModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
